body {

  background-color: #e0feff;

}

.top-container {
  text-align: center;
  margin: 2% auto 2% auto;
}

.middle-container{
text-align: center;
  margin: 0 auto 5px auto;
}

.myButton {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 10px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  padding: 12px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  position: relative;
  width: 179px;
  text-align: center;
  margin-bottom: 10px;
}

.myButton:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}

.myButton:active {
  position: relative;
}

/* end button attributes*/

.gallery-table {
text-align: center;
margin: 0 auto;
}

.philosophy-top-container{
  text-align: center;
}
.philosophy-main-article{
  text-align: left;
  width: 50%;
  padding-left: 30%;
  font-size: 26px;
}
.contactus-page{
  text-align: center;
}
.gallery-page{
  text-align: center;
}
.contactus-address-block{
  text-align: center;

font-size: 20px
}

.contactus-address-block-text{
  width: 260px;
  text-align: left;
  margin: 0 auto;
}
.contactus-message-container{
  font-size: 20px;
}
.generalinformation-top-container{
  text-align: center;
}
.generalinformation-middle-container{
  text-align: left;
  font-size: 26px;
  position: relative;
  left: 32%;
  width: 50%;
}

.button-container{
  text-align: center;
  margin: 0 auto;
}
.button-table{
  text-align: center;
  margin: 0 auto;
}
.bottom-container{
  text-align: center;
  margin: 0 auto;
}
.facebook:hover{

}
