body {
  text-align: center;
  margin: 0;
  background-color: #e0feff;
}

.top-container {
  margin-top: 0;
  margin: 2% auto 2% auto;
}

.myButton {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 10px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  padding: 12px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  position: relative;
  width: 179px;
  text-align: center;
  margin-bottom: 10px;
}

.myButton:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}

.myButton:active {
  position: relative;
}

/* end button attributes*/

.main-pic {

}

.FB-button {
padding-left: 40px;

}

.gallery-table {
  position: absolute;
  padding-left: 15%;
}

.index-buttons{
  list-style-type: none;

}
